body{
    font-size: 14px;
    margin: 0;
  }
  
  .nav-beetwen{
    background: rgb(28, 39, 73);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
  }
  
  .title-page{
    display: flex;
    align-items: center;
  }
  
  .span-title{
    background-color: #000;
    padding: .2rem;
    margin-right: 5px;
    font-size: 32px;
  }
  
  h1{
    font-size: 32px;
    margin: 0;
  }
  
  .container-nav{
    display: flex;
  }
  
  .item-nav{
    background-color: tomato;
    padding: 11px 15px;
  }
  
  .item-footer{
    background-color: orangered;
    padding: 11px 15px;
  }
  
  main{
    display: flex;
  }
  
  .articles{
    width: 70%;
    padding: 10px;
  }
  
  .rectangles{
    width: 30%;
    background: orange;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .rectangle{
    width: 100%;
    height: 100px;
    background-color: tomato;
    margin: 15px 25px;
    text-align: center;
  }