*{
    margin: 0;
    padding: 0;
    color: #fff;
}

/*
* Primera parte.
*/
.padre{
    background: #7216af;
    border: 2px solid orange;

    /*Siempre pon un width*/
    width: 93%;
    margin: 20px auto;
    /*Siempre pon un height*/
    height: 300px;
    
    /*
    FLEXBOX
    */
    /*display: flex |_|  inline-flex */
    display: flex;
    
    /*flex-direction: row | row-reverse | column | column-reverse;*/
    flex-direction: row;
    
    /*flex-wrap: nowrap (por defecto) | wrap | wrap-reverse;*/
    flex-wrap: nowrap;
    
    /*flex-flow: [flex-direction] [flex-wrap]*/
    

    /*
    EJE horizontal
    */
    /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly |_| start | end | left | right ... + safe | unsafe;*/
    justify-content: center;
    
    /*
    EJE vertical
    */
    /*One line - nowrap*/ 
    /*align-items: stretch (~height) | flex-start | flex-end | center | baseline |_| first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;*/
    align-items: baseline;
    
    /*Multi Line - wrap | wrap-reverse*/
    /*align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch |_| start | end | baseline | first baseline | last baseline + ... safe | unsafe;*/
    /*align-content: center;*/
    
}

.hijo{
    background: coral;
    margin: 10px;
    text-align: center;
    
    /* En [ flex-direction: row | row-reverse; ] equivalente: width: 150px; */
    /* En [ flex-direction: column | column-reverse; ] equivalente: height: 150px; */
    flex-basis:  150px;
    
    /* Se necesita signar su contraparte de [width <=> heigth] */
    height: 100px;  /* Row */
    /*width: 100px;   /* Column */
}

.hijo1{
    /* ORDEN */
    order: 1; /* default is 0 */
    
    /* Crecimiento */
    flex-grow: 2; /* Default 0 */
    
    /* Encogimiento */
    flex-shrink: 1; /* Default 1 */
}

.hijo:nth-child(2){
    order: 3;
    
    /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
    flex: 2 1 250px;
    
    /* Para modificarlo respecto al grupo!!! */
    /* align-self: auto | flex-start | flex-end | center | baseline | stretch; */
    align-self: baseline;
}

.hijo:nth-child(3){
    order: 4;
}

.hijo:nth-child(4){
    order: 2;
}


/*
* Segunda parte.
*/

.contenedor-principal{
    border: 2px solid green;
    background-color: #7216af;

    display: flex;
    flex-flow: column wrap;
}

.content-header{
    width: 100%;
    height: 300px;
    border: 2px solid black;
    
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: space-evenly;

    align-items: center;
}

.image-1{
    width: 300px ;
}

h1{
    font-family: serif;
    border: 1px solid red;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .padre{
        height: 400px;

        flex-direction: column;
        align-items: stretch;

        justify-content: flex-start;
    }
    .hijo{
        flex-grow: 0;
        flex-basis: 50px;
    }
    .hijo:nth-child(2){
        flex: 0 1 90px;
        width: 70%;
        align-self: center;
    }

    .content-header{
        height: 600px;

        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
    h1{
        width: 80%;
    }

    /* Poner la imagen primero */
    .image-1{
        width: 100%;
        /*order: 1;*/
    }
    /*
    #titulo{
        order: 2;
    }
    */
}

/*
* Tercera parte 
*/

nav{
    padding: 10px 7%;
    background: #1c1f64;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div>a{
    text-decoration: none;
    margin: 0 3px;
}